<!DOCTYPE html>
<html>
<head>
	<title>главная страница</title>
</head>
<body>
	<h1>Прошел все курсы на SkillBox</h1>

	<h1>Продаю готовые домашние задания</h1>
	<ul>
		<li>
			 <a href="/datascientist">Data Scientist</a> 
		</li>
		<li>
			<a href="/pythonrazrabotchik">Python-разработчик</a> 
		</li>
		<li>
			<a href="/veb_razrabotchik">Веб-разработчик</a> 
		</li>
		<li>
			<a href="/testirovchik">Тестировщик</a>
		</li>
		<li>
			<a href="/Java">Java-разработчик</a>
		</li>
	</ul>

</body>
</html>